    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #fff;
      background: #111;
      padding: 1em 2em;
    }

    h1 {
      background: #111;
      margin: 0;
      padding: 1em 0;
    }

    label {
      flex: 1;
    }


    #content {
      position: relative;
      display: flex;
      max-width: 50em;
      margin: 1em 0;
    }

    nav {
      flex: 2;
    }

    nav ul {
      margin: 0;
      padding: 0;
    }

    nav li::marker {
      content: '🆘';
    }

    nav li {
      padding: 0 1em 0 0;
    }

    nav li a {
      color: #fff;
      background: steelblue;
      display: block;
      padding: 2px 5px;
      text-decoration: none;
    }

    section {
      flex: 5;
      position: relative;
      overflow: hidden;
      min-height: 20em;
    }

    article h2 {
      margin: 0 0 .5em 0;
    }

    article {
      position: absolute;
      top: -200vw;
      transition: 2000ms;

    }

    article:target {
      top: 0;
    }

    .current {
      background: darkblue;
    }
